body{
    font-family: 'Roboto', sans-serif;
    color: white;
    background: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/0kjHIH6/videoblocks-cartoon-blackboard-in-a-children-classroom-with-a-school-bus_rp7t1bnse_thumbnail-full01.png) no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
    box-sizing: border-box;
    background-color:#40aee3;
    box-shadow: 5px 10px  20px #383838;
    margin-top: 9%;
    margin-left: 30%;
}

.numberContainer{
    position: relative;
    top: 78px;
}


.singleDigit{
    position: relative;
    left: 20px;
}

.plusSign{
    position: relative;
    right: 30%;

}

.bottomLine{
    width: 75%;
}

.outPut{
    font-size: 2rem;
}

#goodAnswer{
    color: #70ff88;
    font-size: 4rem;
}
#badanswer{
    color: red;
    font-size: 4rem;
}

.buttonContainer{
    margin: auto;
    padding: 10px;
}

.button{
    border: 1px solid #70ff88;
    border-radius: 25px;
    height: 40px;
    font-size: 25px;
    background-color: #70ff88;
    color: white;
    transition: .1s ease;
}
.button:hover{
    cursor: pointer;
    background-color: #c4fdcd;
}

.hidden{
    display: none;
}

.playerAnswer{
    background: #00fff3;
    height: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
}
#answerInput{
    text-align: center;
    font-size: 1.5em;
}
#checkAnswer{
    border-radius: 25px;
    box-sizing: border-box;
    height: 3em;
    cursor: pointer;
}

@media(max-width: 480px){
    .container{
        margin: auto;
        align-items: center;
        margin-top: 50%;
        width: auto;
        
    }
}
@media(min-width: 481px) and (max-width: 750px){
    .container{
        margin: auto;
        width: auto;
        margin-top: 40%;
    }
}